/* SCSS styles */

/* page loader */


.page-loader
{
	background: $loader;
	height: 2px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 90%;
	z-index: 4;

	display: none;
}


/* some css browser fixes */

html, body
{
	font-size: $font-size;

	padding: 0px;
	margin: 0px;

	background-color: $white;
	position: relative;
	overflow-x: hidden;
}

html, body, div, p, span, input, textarea
{	
	font-family: 'proxima-nova', 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea
{
	overflow: auto;
}


body
{
	margin-top: -10em;
	margin-left: -10em;
	margin-right: -10em;
}

.safari body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.body
{
	background-color: $white;
	z-index: 1;
}



.page
{
	background-color: $white;	

	padding-top: 10em;
	padding-left: 10em;
	padding-right: 10em;

	z-index: 1;
}

.safari .page
{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}




/* clear */

.clear-pmb
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.clear-pm
{
	padding: 0px;
	margin: 0px;
}

.clear-p
{
	padding: 0px;
}

.clear-m
{
	margin: 0px;
}

.clear-b
{
	border: 0px;
}


.clear-float:before, .clear-float:after {
    content: "";
    display: table;
}

.clear-float:after {
    clear: both;
}

.clear-float {
    *zoom: 1;
}


/* margin sizes */

.margin-top
{
	margin-top: 0.8em;
}

.margin-bottom
{
	margin-bottom: 0.6em;
}

/* padding */


.padding
{
	padding: 2em;
}

.padding-extra-lr
{
	padding-left: 2.5em;
	padding-right: 2.5em;
}

/* box size */

.box-sizing-border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box-sizing-content-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* css */

.rounded-corners
{
	border-radius: 4px;
}

.gray
{
	background-color: rgb(222, 225, 230);
}

.color
{
	color: rgb(113, 118, 124);
}

.vertical-middle
{
	position: relative;
	top: 50%;

	-webkit-transform: translateY(-50%);  -webkit-transform-style: preserve-3d;
        -ms-transform: translateY(-50%);      -ms-transform-style: preserve-3d;
            transform: translateY(-50%);          transform-style: preserve-3d;
}

.horizontal-center
{
	margin: auto;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}


/* icon css */
.icon
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
}

/* buttons */

.button-green
{
	border-radius: 3px;
	background: rgb(1, 178, 134);
	color: rgb(256, 256, 256);
	font-weight: 600;
}

.button-green:focus,
.button-green:hover
{
	outline: none;
	background: rgb(2, 195, 147);
}

.button-clear
{
	background: none;
	color: rgb(173, 173, 173);
}

.button-clear:focus,
.button-clear:hover
{
	color: rgb(137, 137, 137);
}

/* input */

.input-padding
{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	padding-left: 1em;
	padding-right: 1em;
}

.input-rounded
{
	border-radius: 2px;
}

/* avatar */

.avatar-user 
{
    border-radius: 4px;
    overflow: hidden;
    width: 3em;
    height: 3em;
}

.avatar-user img
{
	width: 100%;
	height: 100%;
}

.avatar-thumb 
{
    border-radius: 4px;
    overflow: hidden;
    width: 4em;
    height: 4em;
}

.avatar-thumb img
{
	width: 100%;
	height: 100%;
}

/* other */
.hidden
{
	display: none;
}

.column
{
	max-width: $column-width;
    margin-left: auto;
    margin-right: auto;
}

.column-whole
{
	width: 100%;
}

@media (max-width: $column-width+(4*$font-size)) {

  .column,
  {
  	padding-left: 1em;
  	padding-right: 1em;
  }

}



/* begin: general button stlyes */

.button
{
	border: none;
	cursor: pointer;

}

.button:focus
{
	outline: none;
}

.transition-1000
{
	transition: all 1000ms;
}

.transition-1000-cascade,
.transition-1000-cascade > *
{
	transition: all 1000ms;
}

/* end: general button stlyes */

